<h2> Pandas Practice </h2>
<b> Based on kernel </b>
https://www.kaggle.com/python10pm/pandas-75-exercises-with-solutions

<p style="color:tomato;">1. Import lib </p>

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

<p style="color:tomato;">2. How to create a series from a list, numpy array and dict?</p>

In [4]:
lis1 = [1,2,66,'ff']
numarr1 = np.array([55,66,77,88,99])
dic1 = {'stu1':27,'stu2':43,'stu3':12,'stu4':97}

In [9]:
type(dic1)

dict

In [14]:
dic1.values()

dict_values([27, 43, 12, '97'])

In [15]:
s1 = pd.Series(lis1)         #will be assigned default index
s2 = pd.Series(numarr1)       #will be assigned default index

In [21]:
s3 = pd.Series(dic1.values(),index=dic1.keys())       # Not needed.
s4 = pd.Series(dic1)           #Index automatically obtained from dictionary keys

In [23]:
s3

stu1    (27, 43, 12, 97)
stu2    (27, 43, 12, 97)
stu3    (27, 43, 12, 97)
stu4    (27, 43, 12, 97)
dtype: object

In [22]:
s4

stu1    27
stu2    43
stu3    12
stu4    97
dtype: object

<p p style="color:tomato;">3 - How to convert the index of a series into a column of a dataframe?</p>

In [29]:
df_1 = pd.DataFrame(s4).reset_index()

In [32]:
df_1

  index   0
0  stu1  27
1  stu2  43
2  stu3  12
3  stu4  97

<p style="color:tomato;"> 4 - How to combine many series to form a dataframe? </p>

In [36]:
s1

0     1
1     2
2     3
3    ff
dtype: object

In [50]:
# LINK TO RENAMING COL NAMES USING DICTIONARY just to Remember
df_2 = pd.DataFrame({'c1':s1,'c2':s2})

In [51]:
df_2

    c1  c2
0    1  55
1    2  66
2    3  77
3   ff  88
4  NaN  99

<p style="color:tomato;">
5. Rename a Series index -- <b> <br/>This is essentially renaming the Series</b>
   <br/><br/>6. How to get the items of series A not present in series B? ** </p>

In [77]:
s1,s2

(0     1
 1     2
 2    66
 3    ff
 dtype: object, 0    55
 1    66
 2    77
 3    88
 4    99
 dtype: int32)

In [74]:
for i in s1:
    for j in s2:
        if i==j:
            print(i)
        else:
            continue

66

In [80]:
#But since Pandas is kind of vectorized
s1[s1.isin(s2)]

#but need to check on a large dataframe

2    66
dtype: object

In [82]:
s1[~s1.isin(s2)]  #  ~ is not inverse

0     1
1     2
3    ff
dtype: object

<p style="color:tomato;">
8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series? </p>

In [84]:
np.random.randint(25,30,size=(30-25+1))

array([26, 27, 27, 28, 25, 27])

In [86]:
np.arange(25,31,1)

array([25, 26, 27, 28, 29, 30])

In [83]:
#create a series from 25 to 150
s5 = np.