# Coding Exercises (Part 1)

Now, you will have the opportunity to analyze your own dataset. <br>
__Follow the instructions__ and insert your code! You are either requested to 
- Complete the Code and __Fill in the gaps__. Gaps are marked with "__---__" and are __placeholders__ for your code fragment. 
- Write Code completely __on your own__

In some exercises, you will find questions that can only be answered, if your code is correct and returns the right output! The correct answer is provided below your coding cell. There you can check whether your code is correct.

If you need a hint, check the __Hints Section__ at the end of this Notebook. Exercises and Hints are numerated accordingly.

If you need some further help or if you want to check your code, you can also watch the __solutions videos__ or check the __solutions notebook__.

### Have Fun!

--------------------------------------------------------------------------------------------------------------

## Manipulating elements in a DataFrame / Slice

### Exercise 6: Manipulating elements in a DataFrame / Slice

In [1]:
# run the cell!
import pandas as pd

In [2]:
# run the cell!
cars = pd.read_csv("cars.csv")

In [4]:
# run the cell!
cars.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')

50. __Create a subset__ of the DataFrame __cars__ with all cars having an __mpg higher than 40__! __Save__ the subset in the variable __high_eff__!<br>
__high_eff__ should be a new and __independent__ DataFrame. Any changes in high_eff shall __not influence__ the original DataFrame __cars__!

In [5]:
high_eff = cars[cars['mpg']>40][:]

In [6]:
high_eff

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
244,43.1,4,90.0,48.0,1985,21.5,78,europe,vw rabbit custom diesel
309,41.5,4,98.0,76.0,2144,14.7,80,europe,vw rabbit
322,46.6,4,86.0,65.0,2110,17.9,80,japan,mazda glc
324,40.8,4,85.0,65.0,2110,19.2,80,japan,datsun 210
325,44.3,4,90.0,48.0,2085,21.7,80,europe,vw rabbit c (diesel)
326,43.4,4,90.0,48.0,2335,23.7,80,europe,vw dasher (diesel)
329,44.6,4,91.0,67.0,1850,13.8,80,japan,honda civic 1500 gl
330,40.9,4,85.0,NaN,1835,17.3,80,europe,renault lecar deluxe
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup

51. __Cap__ the __mpg__ for all cars in __high_eff__ to __40__ (Overwrite the mpg values)! Your code should not cause any warning message!

In [7]:
high_eff['mpg']=40

__Inspect__ high_eff! In the column __"mpg"__, all values should be __40__!

In [8]:
# run the cell!
high_eff

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
244,40,4,90.0,48.0,1985,21.5,78,europe,vw rabbit custom diesel
309,40,4,98.0,76.0,2144,14.7,80,europe,vw rabbit
322,40,4,86.0,65.0,2110,17.9,80,japan,mazda glc
324,40,4,85.0,65.0,2110,19.2,80,japan,datsun 210
325,40,4,90.0,48.0,2085,21.7,80,europe,vw rabbit c (diesel)
326,40,4,90.0,48.0,2335,23.7,80,europe,vw dasher (diesel)
329,40,4,91.0,67.0,1850,13.8,80,japan,honda civic 1500 gl
330,40,4,85.0,NaN,1835,17.3,80,europe,renault lecar deluxe
394,40,4,97.0,52.0,2130,24.6,82,europe,vw pickup

__Check__ in the original __cars__ Dataframe, whether there are still __values greater than 40__ in the __"mpg"__ column! <br>
If so, your code is correct!

In [9]:
# run the cell!
cars.mpg.max()

46.6

52. Now, we want to __manipulate the original__ DataFrame __cars__. __Cap__ all mpg values __greater than 40__ to 40! Your code should not cause any warning message!

In [10]:
cars['mpg']=40

__Check__, whether there are any values __greater than 40__ in the __"mpg"__ column of the __cars__ DataFrame. If so, your code was incorrect!

In [11]:
# run the cell!
cars.mpg.max()

40

In [27]:
cars[cars['origin']=='usa']['origin']='china'

C:\Users\Carlyle\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [35]:
cars.loc[cars['origin']=='usa','origin']='china'

# Well Done!

-------------------------

# Hints (Spoiler!)

50. cars.loc[ --- ].copy()

51. --- = 40

52. no chained indexing, no copy() method